@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    /*line-height: 1.5;*/
    /*font-weight: 400;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-bg::before {
    /* Fallback color if no background image is set */
    background-color: #f3f4f6;

    content: "";
    position: absolute;
    inset: 0;
    background-image: none;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(3px);
    transform: scale(1.1);
    z-index: -1;
}



.typing-caret {
    position: absolute;
    width: 2px;
    background-color: black;
    top: 0;
    left: 0;

    transform-origin: top left;
    transition:
        transform 0.12s ease-out,
        height 0.12s ease-out;
}

.space {
    display: inline-block;
    width: 0.6ch;
}

.space-error {
    display: inline-block;
    width: 0.6ch;
    border-bottom: 2px solid red;
}

